h2{
    font-family: 'Alfa Slab One', cursive;
    color: #673AB7;
}  

.app-footer-container{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.form-group label{
    cursor: pointer;
    font-size: 13px;
}

.app-footer-section-rigth{
    background: #673AB6;
    padding: 20px;
}
.app-footer-section-center-socials{
    background: url('../../assets/images/shattered-island.gif');
    height: 100%
}
.app-footer-section-center-socials ul{
    text-align: center;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    padding-left:0px;
}
.app-footer-section-center-socials li{
    padding-bottom: 5px;
    position: relative;
    top: 50%;
}
.app-footer-section-center-socials li a{
    font-size: 52px;
    display:block;
    transition: all 0.5s ease-out;
    color: white;
}

.app-footer-section-center-socials li a:hover{
    transform: rotate(60deg);
    transform: scale(1.5);
    color: #673AB6;
}
.app-footer-section-right-map{
    margin-top: 10px;
}


