<div class="row app-title">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1>Besoin d'un <span>Site Web</span> à votre image ou d'une visibilté sur les<span> Réseaux sociaux</span> ?</h1>
    </div>
</div>
<div class="row app-footer-container" >
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 app-footer-section-left">
        <div id="blotter"></div>
        <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="postMailMessage(accountDetailsForm.value)" novalidate>
            <div class="form-group">
                <label for="email">{{labelInputs.email}}</label>
                <input id="email" type="email" class="form-control" placeholder="{{labelInputs.email}}" formControlName="email" required [class.input-has-error]="accountDetailsForm.get('email').invalid && accountDetailsForm.get('email').touched">
                <div *ngFor="let validation of validationConfig.email">
                    <small id="emailHelpId" class="form-text text-muted" [class.has-error]="accountDetailsForm.get('email').hasError(validation.type)" *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched) ">{{validation.message}}<i class="fas fa-exclamation-triangle has-error absolute-input-warning-ico"></i></small>
                </div>      
            </div>
            <div class="form-group">
                <label for="username">{{labelInputs.username}}</label>
                <input id="username" type="username" class="form-control" placeholder="{{labelInputs.username}}" formControlName="username" required [class.input-has-error]="accountDetailsForm.get('username').invalid && accountDetailsForm.get('username').touched">
                <div *ngFor="let validation of validationConfig.username">
                    <small id="usernameHelpId" class="form-text text-muted" [class.has-error]="accountDetailsForm.get('username').hasError(validation.type)" *ngIf="accountDetailsForm.get('username').hasError(validation.type) && (accountDetailsForm.get('username').dirty || accountDetailsForm.get('username').touched)">{{validation.message}}<i class="fas fa-exclamation-triangle has-error absolute-input-warning-ico"></i></small>
                </div>               
            </div>
            <div class="form-group">
                <div *ngFor="let validation of validationConfig.message">
                <label for="message">{{labelInputs.message}}</label>
                    <textarea id="message" type="message" class="form-control" placeholder="{{labelInputs.message}}" formControlName="message" [class.input-has-error]="accountDetailsForm.get('message').hasError(validation.type)"></textarea>
                    <small id="messageHelpId" class="form-text text-muted" [class.has-error]="accountDetailsForm.get('message').hasError(validation.type)" *ngIf="accountDetailsForm.get('message').hasError(validation.type) && (accountDetailsForm.get('message').dirty || accountDetailsForm.get('message').touched)">{{validation.message}}<i class="fas fa-exclamation-triangle has-error absolute-input-warning-ico"></i></small>
                </div>                
            </div>    
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">Envoyer</button>
                </div>
            </div>                     
        </form>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 app-footer-section-center">
        <div class="app-footer-section-center-socials">
            <ul>
                <li *ngFor="let social of socials">
                    <a href="{{social.link}}" title="{{social.title}}"><i class="{{social.classIco}}" aria-hidden="true"></i></a>                    
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 app-footer-section-right">
        <div class="app-footer-section-right-map">
            <h2 class="opening text-center">{{quotesContent}}</h2>
            <a href="{{quotesLink}}" target="_blank"><cite>{{quotesTitle}}</cite></a>
        </div>
    </div>
    <ngx-toasta [position]="'bottom-center'"></ngx-toasta>
</div> 
