.app-scroll-back-button{
    position: fixed;
    right: 10px;
    top: 90%;
    z-index: 3;
}

button {
    opacity: 0;
    transition: all 500ms ease-in;
}

button:hover{
    transform: scale(1.2);
}