<div class="app-pres">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row-no-padding">     	
            <div class="app-pres-logo mdl-card mdl-shadow--2dp text-center">
                <div>
                    <h2 class="ml3"><span class="animated fadeInLeftBig">Développeur</span><span> /</span><span class="animated rotateInDownRight">Web Designer</span></h2>
                </div>
                <div class="mdl-card__supporting-text">
                </div>
                <div class="row app-pres-socials">
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" *ngFor="let social of socials">
                        <a href="{{social.link}}" title="{{social.title}}"><i class="{{social.classIco}}" aria-hidden="true"></i></a>
                    </div>    
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> 

