.app-nav-link{
    background-color: #1A1A1A !important;
    font-size: 18px;
}

.app-nav-link a{
    margin-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    cursor:pointer;    
    transition: border-top 1s, border-bottom 1s, letter-spacing 1s;
}

.app-nav-link a:hover {
    letter-spacing:4px;
    color: white;
    
}

.mdl-layout{
    overflow: hidden;
}