<div class="app-news-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="text-center">Live News by
                <a href="https://newsapi.org/">NewsApi</a>
            </h2>
        </div>
    </div>
    <div class="row app-news-button-src text-center">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2" *ngFor="let item of button; let n = index">
            <button (click)="sendSrc(item.TYPE);selectButton(item)" [ngClass]="{active: isActiveButton(item)}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">{{item.TITLE}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    <div class="app-news-img-container">
                        <img src="{{imgNews == null ? noImg : imgNews}}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 app-news-text text-center no-padding-left">
                    <div class="app-news-text-container" 
                    *ngFor="let dataNew of srcData; let i=index;" 
                    [ngClass]="{active: isActive(dataNew)}"
                    (click)="selectedSrcData(i); select(dataNew)"
                    (mouseleave)="imgClass = false">
                        <h3 [ngClass]="{active: isActive(dataNew)}">{{dataNew.title}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="app-news-content-container">
                        <span>{{contentNews}}</span>
                        <a href="{{authorNewsLink}}" target="_blank">
                            <cite>{{authorNews === null ? srcName : authorNews}}</cite>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>