.app-exps-container{
    background-color: white;
    padding-top: 300px;
    margin-bottom: 60px;
}

.app-exps-line{
    background-color: #6639b6;
    padding: 5px;
    position: relative;
    bottom: 150px;
}

.app-exps-pastille{
    background-color: black;
    position: absolute;
    padding: 5px;
    border-radius: 60px;
    top: 110px;
    margin-left: 10px;
}

.app-exps-img-pastille{
    background-color: #6639b6;
    padding: 15px;
    border-radius: 40px;
}
.modal-exps{
    
}