<div class="row">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="app-exps-title-separate">
                    <div class="rings">
                        <h2>Jobs</h2>
                        <span><span></span></span>
                        <span><span></span></span>
                        <span><span></span></span>
                    </div>
            </div>
        </div>
    </div>
    <div class="app-exps-container row">
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 mt-10" *ngFor="let exp of exps">
                <div class="app-exps-container-logo-exps text-center">
                    <div>
                        <img class="app-exps-img-pastille" src="{{exp.logo}}" alt="">
                        <p>{{exp.title}}</p>
                        <p>{{exp.fonction}}</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

