.app-exps-container{
    background-color: white;
    margin-bottom: 50px;
    margin-top: 50px;
}

.app-exps-img-pastille{
    background-color: #6639b6;
    padding: 15px;
    border-radius: 40px;
}
.app-exps-title-separate span{
    color: white;
    font-size: 40px;
    margin-left: 30px;
    font-weight: bold;
}

.hr-custom-title{
    background-color: white;
    height: 3px;
    width: 270px;
    margin-top: 13px;
}

.app-exps-container-logo-exps div{
    display: inline-block;
    margin: 5px;
}
.app-exps-badge{
    background: url('../../assets/images/exps-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -340px;
}
