<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="app-exps-container">

            <div class="app-exps-content">

                <div class="app-exps-line"></div>
                <div class="app-exps-pastille" *ngFor="let exp of exps" data-toggle="modal" [attr.data-target]="'#' + exp.modalId" [ngStyle]="{ 'left':exp.leftPosition }">
                    <img class="app-exps-img-pastille" src="{{exp.logo}}" alt="">
                </div>

            </div>


        </div>

    </div>
    
    
    <div class="modal fade modal-exps animated flipInX" id="{{exp.modalId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngFor="let exp of exps">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                <h2>{{exp.title}}</h2>
                <img src="{{exp.logo}}" alt="{{exp.title}}"/>
                </div>
                <div class="modal-body">
                    <h3>{{exp.fonction}}</h3>
                    <p>{{exp.description}}</p>
                    <span>{{exp.time}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>