<div class="app-skills">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="app-skills-item-container">
                <div class="app-skills-item text-center">
                    <img src="assets/images/app-skills-responsive-img.png" alt="">
                    <span>Responsive design</span>                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="app-skills-item-container">
                <div class="app-skills-item text-center">
                    <img src="assets/images/app-skills-reseaux-img.png" alt="">
                    <span>Stratégie sur les réseaux sociaux</span>                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="app-skills-item-container">
                <div class="app-skills-item text-center">
                    <img src="assets/images/app-skills-identity-img.png" alt="">
                    <span>Identité visuelle</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="app-skills-item-container">
                <div class="app-skills-item text-center">
                    <img src="assets/images/app-skills-dev-img.png" alt="">
                    <span>Développement Web et Wordpress</span>                    
                </div>
            </div>
        </div>                        
    </div>
</div>
