<div class="row app-element-forms-container">
  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    <h2 class="weather-title">Météo du jour</h2>
    <form #form="ngForm" class="text-center">
      <div class="mdl-textfield mdl-js-textfield input-city-container" [class.has-error]="msgSubject.invalid && msgSubject.touched">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample6" #msgSubject="ngModel" ngModel name="msgSubject">
        </div>
      </div>
      <button (click)="sendPositionInputs(form)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" [disabled]="form.invalid">Chercher</button>
<!--       <button (click)="getLocation()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="fa fa-compass"></i>
      </button> -->
      <p class="weather-error-msg" *ngIf="messageError">Verifier l'ortographe de votre saisie</p>
    </form>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <div class="app-element-forms-weather-container text-center">
      <span>{{dataWeatherName ? dataWeatherName : 'Entrer votre ville'}}</span>
      <div class="row animated flipInLeft" *ngIf="dataWeatherName">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <i class="owi owi-{{iconUrl}}"></i>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="temperate-container" *ngIf="maxTemp && minTemp">

            <p>Temperature MIN :
              <span>{{minTemp}}°</span>
            </p>
            <p>Temperature MAX :
              <span>{{maxTemp}}°</span>
            </p>
            <p>Taux d'humidité :
              <span>{{humidity}}%</span>
            </p>
            <p>Vitesse du vent :
              <span>{{wind}} km/h</span>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>