.app-element-forms-container{
    background-color: white;
    margin-top: 56px;
}

.app-element-forms-container .fa-compass{
    font-size: 44px;
    color: #6740B3;
}

.mdl-textfield__label{
    color: white;
}
.app-element-forms-weather-container{
    background-color: #6740B3;
    padding: 20px;
}

.app-element-forms-weather-container div:first-child{
    margin-top: 20px;
}

.app-element-forms-weather-container span{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 28px;
}

.app-element-forms-weather-container i{
    font-size: 145px;
    color: white 
}

@media screen and (max-width: 767px) {
    .temperate-container{
        border: none !important;   
    }
    .app-element-forms-weather-container{
        margin-top: 10px;
    }
}


.temperate-container{
    font-size: 90px;
    border-left: 2px solid white;   
}

.temperate-container p{

    font-size: 16px;
    color: white;
    margin-top: 15px;
    text-align: center;
}


form button{
    margin-left: 10px;
}

.input-city-container{
    width: 267px !important;
}

.weather-title{
    margin-top: 50px;
    color: #6740B3;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-shadow: 
        1px 1px 1px #d3d3d3,
        1px 2px 1px #d3d3d3,
        1px 3px 1px #d3d3d3,
        1px 4px 1px #d3d3d3,
        1px 5px 1px #d3d3d3,
        1px 6px 1px #d3d3d3,
        1px 7px 1px #d3d3d3,
        0 1px 1px rgba(68,68,68,.3),
        0 5px 3px rgba(68,68,68,.2),
        0 10px 4px rgba(68,68,68,.2),
        0 15px 8px rgba(68,68,68,.2),
        0 30px 10px rgba(68,68,68,.1);
}

.weather-error-msg{
    color: red;
}



